
<!-- Sidebar -->
<div class="sidebar light-grey bar-block" style="width:15%" *ngIf="isMenu">
  <div style="padding-top: 30px !important;">
    <div class="item " [ngClass]="router.url === '/' ? 'item-active' : ''">
      <a  class="bar-item button" [ngClass]="router.url === '/' ? 'item-active' : ''" (click)="onMenuItem('')">
        <i class="fa fa-home"></i>
        <span class="menu-item">Home</span>
      </a>
    </div>

    <div class="item " [ngClass]="router.url === '/add-story' ? 'item-active' : ''">

      <a class="item bar-item button" [ngClass]="router.url === '/add-story' ? 'item-active' : ''" (click)="onMenuItem('add-story')">
        <i class="fa fa-plus"></i>
        <span class="menu-item">Add Story</span></a>
    </div>

    <div class="item footer-item" [ngClass]="router.url === '/logout' ? 'item-active' : ''">

      <a class="item bar-item button" (click)="onMenuItem('/')">
        <i class="fa fa-sign-out"></i>
        <span class="menu-item">Logout</span>
      </a>
    </div>
  </div>

</div>

<!-- Page Content -->
<div [style.margin-left]="isMenu ? '15%' : '0%'">
  <div class="sub-header">
    <router-outlet></router-outlet>
  </div>


</div>
